<div class="category__content js-load-target">
    <div class="card-category js-load-item">
        <a href="#" class="card-category__item">
            <div class="card-category__content">
                <div class="card-category__img img-response">
                    <picture>
                        <source type="image/webp" srcset="{% include 'includes/plug.njk' %}" data-srcset="content/category-05.webp">
                        <img class="lazyload" src="{% include 'includes/plug.njk' %}" data-src="content/category-05.jpg" alt="photo">
                    </picture>
                </div>
                <div class="card-category__body">
                    <h3 class="card-category__title">3D Art</h3>
                </div>
            </div>
        </a>
    </div>
    <div class="card-category js-load-item">
        <a href="#" class="card-category__item">
            <div class="card-category__content">
                <div class="card-category__img img-response">
                    <picture>
                        <source type="image/webp" srcset="{% include 'includes/plug.njk' %}" data-srcset="content/category-06.webp">
                        <img class="lazyload" src="{% include 'includes/plug.njk' %}" data-src="content/category-06.jpg" alt="photo">
                    </picture>
                </div>
                <div class="card-category__body">
                    <h3 class="card-category__title">Plants</h3>
                </div>
            </div>
        </a>
    </div>
    <div class="card-category js-load-item">
        <a href="#" class="card-category__item">
            <div class="card-category__content">
                <div class="card-category__img img-response">
                    <picture>
                        <source type="image/webp" srcset="{% include 'includes/plug.njk' %}" data-srcset="content/category-07.webp">
                        <img class="lazyload" src="{% include 'includes/plug.njk' %}" data-src="content/category-07.jpg" alt="photo">
                    </picture>
                </div>
                <div class="card-category__body">
                    <h3 class="card-category__title">Sea Animals</h3>
                </div>
            </div>
        </a>
    </div>
    <div class="card-category js-load-item">
        <a href="#" class="card-category__item">
            <div class="card-category__content">
                <div class="card-category__img img-response">
                    <picture>
                        <source type="image/webp" srcset="{% include 'includes/plug.njk' %}" data-srcset="content/category-08.webp">
                        <img class="lazyload" src="{% include 'includes/plug.njk' %}" data-src="content/category-08.jpg" alt="photo">
                    </picture>
                </div>
                <div class="card-category__body">
                    <h3 class="card-category__title">Cartoon</h3>
                </div>
            </div>
        </a>
    </div>
</div>