<div class="creators__content js-load-target">
    <div class="card-creators js-load-item">
        <a href="#" class="card-creators__item">
            <div class="card-creators__decor">
                <picture>
                    <source type="image/webp" srcset="content/creator-decor.webp">
                    <img src="content/creator-decor.png" alt="photo">
                </picture>
            </div>
            <div class="page-creator page-creator--big">
                <div class="page-creator__icon">
                    <picture>
                        <source type="image/webp" srcset="content/creator-03.webp">
                        <img src="content/creator-03.png" alt="photo">
                    </picture>
                </div>
                <div class="page-creator__body">
                    <p>Claude Strophobia</p>
                    <span>@claudestropho</span>
                </div>
            </div>
        </a>
    </div>
    <div class="card-creators js-load-item">
        <a href="#" class="card-creators__item">
            <div class="card-creators__decor">
                <picture>
                    <source type="image/webp" srcset="content/creator-decor.webp">
                    <img src="content/creator-decor.png" alt="photo">
                </picture>
            </div>
            <div class="page-creator page-creator--big">
                <div class="page-creator__icon">
                    <picture>
                        <source type="image/webp" srcset="content/creator-01.webp">
                        <img src="content/creator-01.png" alt="photo">
                    </picture>
                </div>
                <div class="page-creator__body">
                    <p>Maureen L. Kewshun</p>
                    <span>@maurin_kewsun</span>
                </div>
            </div>
        </a>
    </div>
    <div class="card-creators js-load-item">
        <a href="#" class="card-creators__item">
            <div class="card-creators__decor">
                <picture>
                    <source type="image/webp" srcset="content/creator-decor.webp">
                    <img src="content/creator-decor.png" alt="photo">
                </picture>
            </div>
            <div class="page-creator page-creator--big">
                <div class="page-creator__icon">
                    <picture>
                        <source type="image/webp" srcset="content/creator-02.webp">
                        <img src="content/creator-02.png" alt="photo">
                    </picture>
                </div>
                <div class="page-creator__body">
                    <p>Oscar Nommanee</p>
                    <span>@oscar_nommani</span>
                </div>
            </div>
        </a>
    </div>
    <div class="card-creators js-load-item">
        <a href="#" class="card-creators__item">
            <div class="card-creators__decor">
                <picture>
                    <source type="image/webp" srcset="content/creator-decor.webp">
                    <img src="content/creator-decor.png" alt="photo">
                </picture>
            </div>
            <div class="page-creator page-creator--big">
                <div class="page-creator__icon">
                    <picture>
                        <source type="image/webp" srcset="content/creator-02.webp">
                        <img src="content/creator-02.png" alt="photo">
                    </picture>
                </div>
                <div class="page-creator__body">
                    <p>Oscar Nommanee</p>
                    <span>@oscar_nommani</span>
                </div>
            </div>
        </a>
    </div>
    <div class="card-creators js-load-item">
        <a href="#" class="card-creators__item">
            <div class="card-creators__decor">
                <picture>
                    <source type="image/webp" srcset="content/creator-decor.webp">
                    <img src="content/creator-decor.png" alt="photo">
                </picture>
            </div>
            <div class="page-creator page-creator--big">
                <div class="page-creator__icon">
                    <picture>
                        <source type="image/webp" srcset="content/creator-03.webp">
                        <img src="content/creator-03.png" alt="photo">
                    </picture>
                </div>
                <div class="page-creator__body">
                    <p>Claude Strophobia</p>
                    <span>@claudestropho</span>
                </div>
            </div>
        </a>
    </div>
    <div class="card-creators js-load-item">
        <a href="#" class="card-creators__item">
            <div class="card-creators__decor">
                <picture>
                    <source type="image/webp" srcset="content/creator-decor.webp">
                    <img src="content/creator-decor.png" alt="photo">
                </picture>
            </div>
            <div class="page-creator page-creator--big">
                <div class="page-creator__icon">
                    <picture>
                        <source type="image/webp" srcset="content/creator-01.webp">
                        <img src="content/creator-01.png" alt="photo">
                    </picture>
                </div>
                <div class="page-creator__body">
                    <p>Maureen L. Kewshun</p>
                    <span>@maurin_kewsun</span>
                </div>
            </div>
        </a>
    </div>
</div>