<div class="cookies-banner">
    <div class="cookies-banner__wrapper container">
        <div class="cookies-banner__row">
            <div class="cookies-banner__text">
                This site uses cookies. Detailed information in <a href="#">the rules for the processing of personal data</a>
            </div>
            <button type="button" class="btn cookies-button fill-effect">
                <span>Continue</span>
                <i></i>
            </button>
            <button type="button" class="cookies-banner__close cookies-button">
                <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.0654 12.002L11.9987 11.0686L6.93238 6.00111L12 0.933797L11.0667 0.000463486L5.99916 5.06767L0.933335 0.000650406L0 0.933984L5.0658 6.00098L0 11.0665L0.933333 11.9998L5.99902 6.93442L11.0654 12.002Z" fill="#7E7E7E"/>
                </svg>
            </button>
        </div>
    </div>
</div>