<footer class="footer">
    <div class="container">
        <div class="footer__row js-anim js-anim--opacity">
            <div class="footer__column footer__column--info">
                <a href="#wrapper" class="page-logo _goto">
                    <img src="content/logo-ninja.svg" alt="">
                    <span>NINJA</span>
                </a>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. Many desktop publishing packages and web page</p>
            </div>
            <div class="footer__column">
                <a href="#">About Us</a>
                <ul>
                    <li>
                        <a href="#">About NINJA</a>
                    </li>
                    <li>
                        <a href="#">Community</a>
                    </li>
                    <li>
                        <a href="#">Blog</a>
                    </li>
                    <li>
                        <a href="#">Terms</a>
                    </li>
                </ul>
            </div>
            <div class="footer__column">
                <a href="#">Marketplace</a>
                <ul>
                    <li>
                        <a href="#">Discover</a>
                    </li>
                    <li>
                        <a href="#">Market</a>
                    </li>
                    <li>
                        <a href="#">Explore</a>
                    </li>
                    <li>
                        <a href="#">Features</a>
                    </li>
                </ul>
            </div>
            <div class="footer__column">
                <a href="#">Company</a>
                <ul>
                    <li>
                        <a href="#">Offers</a>
                    </li>
                    <li>
                        <a href="#">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#">Terms & Conditions</a>
                    </li>
                    <li>
                        <a href="#">Refund Policy</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer__bottom js-anim js-anim--opacity">
            <p class="footer__copyright">© NINJA Copyright 2021, All rights reserved.</p>
            <ul class="page-socials">
                <li>
                    <a href="#">
                        <img src="content/icons//icon-lilnkedin.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="content/icons//icon-instagram.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="content/icons//icon-youtube.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="content/icons//icon-twitter.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="content/icons//icon-facebook.svg" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>