<header class="header">
    <div class="header__wrapper _lp">
        <div class="container">
            <div class="header__row">
                <div class="header__column nav-header">
                    <button type="button" class="nav-header__burger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <div class="nav-header__wrapper">
                        <nav class="nav-header__body _spollers">
                            <ul class="menu">
                                <li>
                                    <button data-max="1023" type="button" class="menu__link js-drop _spoller">Some drop</button>
                                    <ul class="submenu">
                                        <li>
                                            <a class="_goto" href="#auction">Auction</a>
                                        </li>
                                        <li>
                                            <a class="_goto" href="#work">Work</a>
                                        </li>
                                        <li>
                                            <a class="_goto" href="#creators">Creators</a>
                                        </li>
                                        <li>
                                            <a class="_goto" href="#category">Category</a>
                                        </li>
                                        <li>
                                            <a class="_goto" href="#request">Request</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="menu__link _goto" href="#auction">Auction</a>
                                </li>
                                <li>
                                    <a class="menu__link _goto" href="#work">Work</a>
                                </li>
                                <li>
                                    <a class="menu__link _goto" href="#creators">Creators</a>
                                </li>
                                <li>
                                    <a class="menu__link _goto" href="#category">Category</a>
                                </li>
                                <li>
                                    <a class="menu__link _goto" href="#request">Request</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <a href="#wrapper" class="page-logo _goto">
                    <img src="content/logo-ninja.svg" alt="">
                    <span>NINJA</span>
                </a>
                <div class="header__column header__column--right">
                    <div class="page-search">
                        <button type="button" class="page-search__trigger icon-search js-drop">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M21 21L16.65 16.65" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </button>
                        <div class="page-search__wrapper">
                            <div class="container">
                                <form action="#" class="page-search__form">
                                    <input type="search" name="q" placeholder="Search Here">
                                    <button type="submit" class="icon-search" title="search">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M21 21L16.65 16.65" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="page-user">
                        <button type="button" class="page-user__trigger js-drop">
                            <img src="content/user.png" alt="">
                            <span>JOY DOE</span>
                        </button>
                        <ul class="submenu">
                            <li>
                                <a href="#">Some action</a>
                            </li>
                            <li>
                                <a href="#">Some action two</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>