<!-- <div class="page-decor img-response">
    <picture>
        <source media="(max-width: 479px)" srcset="{% include 'includes/plug.njk' %}">
        <img class="mouse-parallax" src="content/page-bg.png" alt="" aria-hidden="true">
    </picture>
</div> -->
<a href="#wrapper" class="back-to-top _goto"></a>