<div class="warning-banner">
    <div class="container">
        <div class="warning-banner__row">
            <div class="warning-banner__text">
                For the site to work correctly, you need to enable cookies in your browser.
            </div>
        </div>
    </div>
</div>