<div class="popup popup_login">
    <div class="popup__body">
        <div class="popup__content">
            <button type="button" class="popup__close close-popup"></button>
            <h3 class="popup__title">
                Log in
            </h3>
            <div class="popup__block">
                <form action="/" method="get" class="form js-form" novalidate>
                    <div class="form__items">
                        <div class="form__item">
                            <label class="form-input">
                                <input type="text" placeholder="Login *" data-validate="text">
                                <span class="form-error">Some text of error</span>
                            </label>
                        </div>
                        <div class="form__item">
                            <label class="form-input">
                                <input type="password" placeholder="Password *" data-validate="pass">
                                <span class="form-error">Some text of error</span>
                            </label>
                        </div>
                    </div>
                    <div class="form__actions">
                        <button class="btn fill-effect">
                            <span>Log in</span>
                            <i></i>
                        </button>
                    </div>
                </form>
                <div class="popup__links">
                    <p>Or <a href="#create" class="popup-link">Create</a></p>
                </div>
            </div>
        </div>
    </div>
</div>