<div class="popup popup-universal">
    <div class="popup__body">
        <div class="popup__content">
            <button class="popup__close close-popup"></button>
            <form action="#" method="post" class="js-form">
                <div class="js-form__message-title popup-universal__title">

                </div>
                <div class="js-form__message-text popup-universal__text">

                </div>
            </form>
        </div>
    </div>
</div>