.icon-search
    width: 3rem
    height: 3rem
    flex-shrink: 0
    svg
        width: 100%
        height: 100%
        path
            transition: stroke $trTime
    &:hover
        svg
            path
                stroke: $colorBlue

.img-response
    img
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%

._spoller-body
    display: none
    width: 100%

.fix-ie
    position: fixed
    width: 100%
    height: 100%
    top: 0
    left: 0
    &:before
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-color: $colorBg
        z-index: 999
        content: "THIS BROWSER IS OUT OF DATE, PLEASE TRY ANY OTHER BROWSER"
        color: $colorWhite
        display: flex
        justify-content: center
        align-items: center
        font-size: 18px
